.main-nav li a{
    text-align: none;
    text-decoration: none;
    list-style: none;
    display: inline;
    color:black;
}
.main-nav ul{
    text-align: none;
    text-decoration: none;
    list-style: none;
    display: inline;
}
.main-nav li {
    float: left;
    list-style: none;
    margin-right: 100px;
    padding-right: 20px;
}

.control a:hover{
    color:red;
}
.image-pic{
    background-color: #eee;
    display: flex;
    height: 450px;
    margin: 5px;
    width: 950px;
}
.image-placeholder {
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}
.line{
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 260px;
}

.line > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}
.get{
    background-color: red;
}
.greeting p{
    color: red;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.top-bar{
    margin-top: 25px;
    margin-bottom: 20px;
}
.about h1 {
    color: red;
}
.product{
    margin-right: 45px;
    margin-top: 20px;
}
.brand{
    margin-right: 45px;
    margin-top: 20px;
}
.package{
    margin-right: 45px;
    margin-top: 20px;
}
.contact{
    margin-top: 30px;
}